@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.br2.animado {
  opacity: 0;
}

.br1.animado {
  transform: rotate(45deg);
  translate: 4px 10px;
  transform-origin: 0% 100%;
}

.br3.animado {
  transform: rotate(-45deg);
  translate: 5px 8px;
  transform-origin: 0% 100%;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(2 132 199 / var(--tw-bg-opacity));
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  z-index: 999;
  animation-name: animTop;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes animTop {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
