@tailwind base;
@tailwind components;
@tailwind utilities;

.br2.animado {
  opacity: 0;
}

.br1.animado {
  transform: rotate(45deg);
  translate: 4px 10px;
  transform-origin: 0% 100%;
}

.br3.animado {
  transform: rotate(-45deg);
  translate: 5px 8px;
  transform-origin: 0% 100%;
}
